
GAMES/.idea/.idea.GAMES.dir/.idea/

*.csproj

Physics-BasedComputerAnimation/Temp/

*.sln

Physics-BasedComputerAnimation/.idea/.idea.Physics-Based Computer Animation/.idea/

Physics-BasedComputerAnimation/obj/Debug/

.idea/.idea.CG-GMP-PBCA.dir/.idea/

Physics-BasedComputerAnimation/.idea/.idea.Physics-Based Computer Animation/.idea/

Physics-BasedComputerAnimation/UserSettings/

Physics-BasedComputerAnimation/ProjectSettings/

Physics-BasedComputerAnimation/Packages/

Physics-BasedComputerAnimation/obj/Debug/

Physics-BasedComputerAnimation/Logs/

Physics-BasedComputerAnimation/Library/

Physics-BasedComputerAnimation/.idea/.idea.Physics-BasedComputerAnimation/.idea/

Physics-BasedComputerAnimation/Build/

.idea/

*.vsidx

Physics-BasedComputerAnimation/.vs/

Physics-BasedComputerAnimation/.vsconfig
