
GAMES/.idea/.idea.GAMES.dir/.idea/

*.csproj

Physics-Based Computer Animation/Temp/

Physics-Based Computer Animation/ProjectSettings/

Physics-Based Computer Animation/Packages/

Physics-Based Computer Animation/UserSettings/

Physics-Based Computer Animation/Library/

Physics-Based Computer Animation/Logs/

*.sln

Physics-Based Computer Animation/.idea/.idea.Physics-Based Computer Animation/.idea/

Physics-Based Computer Animation/obj/Debug/

.idea/.idea.CG-GMP-PBCA.dir/.idea/

Physics-BasedComputerAnimation/.idea/.idea.Physics-Based Computer Animation/.idea/

Physics-BasedComputerAnimation/UserSettings/

Physics-BasedComputerAnimation/ProjectSettings/

Physics-BasedComputerAnimation/Packages/

Physics-BasedComputerAnimation/obj/Debug/

Physics-BasedComputerAnimation/Logs/

Physics-BasedComputerAnimation/Library/
